@model GTI619_Lab5.Models.Home.MenuModel

<ul class="nav navbar-nav">
    @if (Model.IsAdmin)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Admin")">Users</a></li>
                <li><a href="@Url.Action("GlobalSecuritySettings", "Admin")">Global Security Settings</a></li>
            </ul>
            
        </li>
    }
    @if (Model.IsAdmin || Model.Roles.Contains("circle"))
    {
        <li><a href="@Url.Action("Index", "Circle")">Circle</a></li>
    }
    @if (Model.IsAdmin || Model.Roles.Contains("square"))
    {
        <li><a href="@Url.Action("Index", "Square")">Square</a></li>
    }
</ul>

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
        </ul>

    </li>
    <li>
        <a href="@Url.Action("Logout", "Account")">Logout</a>
    </li>
</ul>