@model GTI619_Lab5.Models.Admin.EditUserRolesModel

@{
    ViewBag.Title = "EditUserRoles";
}

<h2>EditUserRoles</h2>

<div>
    <h4>Edit the roles of @Html.DisplayNameFor(model => model.Username)</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UserId)
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @foreach (var item in Model.AvailableRoles)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedRoleIds" value="@item.Key" @(Model.SelectedRoleIds.Contains(item.Key)?"checked=\"checked\"":"")>@item.Value
                    </label>
                </div>
            }

            <div class="form-group">

                @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.AdminPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        <a href="@Url.Action("Index")" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to List
        </a>
    </div>
</div>
