@model GTI619_Lab5.Models.Admin.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}

<div class="row">
    <div class="col-xs-12">
        <a href="@Url.Action("CreateUser")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Create New User
        </a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserDictionary)
        {
            <tr>
                <td>
                    @user.Value
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a href="@Url.Action("EditUserRoles", new {id = user.Key})" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit User Roles
                        </a>
                        <a href="@Url.Action("ShowGridCard", new {id = user.Key})" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-th"></span>
                            Show Grid Card
                        </a>
                        <a href="@Url.Action("ResetUserPassword", new {id = user.Key})" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-refresh"></span>
                            Reset Password
                        </a>
                        <a href="@Url.Action("DeleteUser", new {id = user.Key})" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>